/* Variables */

$font-header: 'Montserrat', sans-serif;
$font-main: 'Roboto Slab', serif;

$color-light: #ffffff;
$color-main: #fed136;
$color-dark: #000000;
$color-secondary: #777777;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: $font-main;
  text-align: center;

}

h1, h2, h3, h4 {
  font-family: $font-header;
  color: $color-dark;
}

p {
  color: $color-secondary;
}

ul li {
  display: inline;
  list-style-type: none;

  a {
    text-decoration: none;
  }
}

section {
  margin: 78px 0;
  display: block;
}

.section-title {
  font-size: 36px;
  text-transform: uppercase;
  margin: 15px 0;
}

.section-subtitle {
  font-weight: 400;
  font-family: $font-main;
  color: $color-secondary; 
}

/* Navigation */ 

nav {
  position: absolute;
  width: 100%;
  top: 30px;
  line-height: 30px;

  .logo {
  font-family: 'Yellowtail', cursive;
  color: $color-main;
  font-size: 28px;
  }
  
  ul li a {
    text-transform: uppercase;
    padding: 0 10px;
    color: $color-light;

    &:hover {
      color: darken($color-light, 15);
    }
  }
}

@media (max-width: 768px) {
  nav {
    top: 5px;
  }

  .logo {
    display: block;
    margin: 15px 0;
  }

  ul a {
    font-size: 10px;
  } 
}
/* Header */

header {
  height: 100vh; 
}

.header-img {
  width: 100%;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
  }
}

.header-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  h1, h2 {
    color: $color-light;
    text-shadow: 1px 1px 5px $color-dark;
    padding: 10px;
  }

  h1 {
    font-family: $font-main;
    font-size: 34px;
    font-weight: 400;
  }

  h2 {
    font-size: 48px;
    text-transform: uppercase;
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 36px;
    }
  }

  .btn {
    position: absolute;
    transform: translateX(-50%);
    padding: 10px 15px;
    background-color: $color-main;
    text-decoration: none;
    color: $color-light;
    cursor: pointer;
    text-transform: uppercase;
    font-family: $font-header;
    font-weight: 700;
    border-radius: 2px;
  }
}

/* Services */

.services-element {
  margin: 60px 0;
  padding: 0 50px;

  i {
    color: $color-main;
    font-size: 36px;
    padding: 15px;
    border: 3px solid $color-main;
    border-radius: 50%;
  }

  h3 {
    margin: 15px 0;
  }
}

/* Portfolio */

#portfolio {
  background-color: #f7f7f7;
  padding: 78px 0;
}
.card {
  margin: 30px 0;
  

  .card-img img {
    width: 100%;
    object-fit: cover;
    max-height: 50vh;
  }

  .card-body {
    padding: 20px 0;
    background-color: $color-light;
  }
}


/* Footer */ 

footer {
  padding-bottom: 78px;

    p {
    align-self: center;
  }

  ul li a i {
    color: $color-light;
    background-color: $color-dark;
    width: 35px;
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    margin: 0 5px;
  }  
}